<%= will_paginate @cars %>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @cars.each do |car| %>
    <tr id="<%= dom_id(car) %>">
      <td><%= car.make %></td>
      <td><%= car.model %></td>
      <td><%= car.year %></td>
      <td>
        <%= number_to_currency(car.price) %>
        (<%= link_to 'Calculate Payment', payment_calculator_path(car) %>)
      </td>
      <td><%= link_to 'Show', car %></td>
      <% if current_user %>
        <td><%= link_to 'Claim', claim_car_path(car) %></td>
      <% end %>
      <td><%= link_to 'Edit', edit_car_path(car) %></td>
      <td><%= link_to 'Delete', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @cars %>














